/*
Theme Name: chopshop
 */
.hero img{
	height: 200px;
	width: 100%;

}

*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	min-height: 100px;

}
.container{
	width: 1024px;
	margin: 0 auto;
}

.main{
	width: 75%;
	float: left;
	padding: 20px;
	border-left: 2px solid #888;
}

.sidebar{
	width: 25%;
	float: left;
	padding: 10px;
	
}

.clearfix{
	clear: both;
}

footer{
	clear: both;
	display: block;
	height: 100px;
	background-color: #1d8ece;
	color: #fff;
	text-align: center;
	padding: 10px;
}
footer ul{
	list-style-type: none;
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;


}
footer ul li{
	display: inline-block;

}

.menu-footer-container{
	width: 960px;
	margin: 0 auto
}

footer ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px;

}